extends layout

block content
  h1= title
  p Welcome to #{title}

  div
    form(action='/todo' method='post')
      div(data-role='fieldcontain')
        input(id='task', type='text', class='input', placeholder='Add an item to the TODO list')
      div(data-role='fieldcontain')
        input(type='submit', value='Submit')



