body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(/images/romantic-bokeh.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

a {
  color: #00B7FF;
}

div#task {
  width: 500px;
  margin: 10px;
}
